services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: minimall-app
    restart: always
    environment:
      SPRING_PROFILES_ACTIVE: prod

      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}

      TZ: Asia/Seoul
    ports:
      - "8080:8080"